* {
  box-sizing: border-box;
}

[v-cloak] {
  display: none !important;
}

.datepicker {
  z-index: 1300;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  min-width: 300px;
  max-width: 750px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-footer {
  text-align: left;
}

.modal-default-button {
  /*float: right;*/
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.mx-calendar-icon, .mx-input-icon {
  height: auto;
}

.dates-row {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dates-row .mx-datepicker-range {
  width: 100%;
}


.table > tbody > tr > td:nth-child(1),
.table > tbody > tr > td:nth-child(2) {
  min-width: 200px;
}

.inner-table {
  border: 0;
}

.inner-table td {
  padding: 0 5px;
  border: 1px solid black; 
}

.inner-table tr:first-child td {
  border-top: 0;
}

.inner-table tr:last-child td {
  border-bottom: 0;
}

.inner-table td:first-child {
  border-left: 0;
}

.inner-table td:last-child {
  border-right: 0;
}


/*table table td {
  padding: 3px 5px;
}*/

.table-wrapper {
  overflow-x: auto;
}

.mx-datepicker {
  width: 200px;
}

ul.workers {
  list-style-type: none;
  padding-left: 0;
  max-width: 300px;
}

ul.workers li {
  position: relative;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.removeBtn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); 
  width: 30px;
  height: 30px;
  text-align: center;
}

ul.workers li:hover {
  background: #7aebfd; 
}